/* 
Yume: An Obsidian.md theme taking inspiration from the aesthetics of 90s to 2000s anime. 
License: GPLv3
Repository: https://github.com/bladeacer/yume
Documentation: 
*/
body.theme-dark {
  --color-purple: #302f66;
  --color-blue: #6b21b4;
  --text-accent: var(--color-blue);
  --text-highlight-bg: var(--color-7);
}

body.theme-dark {
  --color-1: #222e44;
  --color-2: #cdd2d5;
  --color-4: #ffffff;
  --color-5: #cccec2;
  --color-6: #232125;
  --color-7: #324b69;
  --color-9: #222022;
  --color-10: #202024;
  --mixed-color-1: #090a09;
  --yume-bg-1: #1a1d25;
  --yume-bg-2: #202936;
  --yume-bg-3: #202732;
  --yume-bg-4: #192a3f;
  --yume-base-grey-light: #f0f7fc;
}

body.theme-dark {
  --color-base-00: var(--yume-bg-1);
  --color-base-05: var(--yume-bg-2);
  --color-base-10: var(--yume-bg-3);
  --color-base-20: var(--yume-bg-4);
  --text-normal: var(--yume-base-grey-light);
}

body.theme-dark {
  --background-primary: var(--color-base-00);
  --background-secondary: var(--color-base-05);
  --background-secondary-alt: var(--color-base-10);
}
