body {
  .tree-item-inner {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }
}

body {
  div[data-path$=".md"] {
    div.nav-file-tag {
      display: none;
    }

    div.nav-file-title-content::after {
      content: ".md";
      opacity: var(--dimmed);
    }
  }

  div {
    div.nav-file-tag {
      opacity: var(--dimmed);
      background-color: unset;
      text-transform: lowercase;
      font-size: calc(var(--nav-item-size) - 0.075rem);
      margin: unset;
      padding: unset;
      font-weight: unset;

      &::before {
        content: ".";
      }
    }
  }
}

body {
  .nav-files-container {
    padding: 2px 8px 24px 8px;
    margin-left: -16px;
  }
  .collapse-icon svg {
    display: none;
  }

  .tree-item-children {
    border-inline-start: none;
  }

  .nav-file-title {
    opacity: 0.85;
  }
}
